@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Source Sans Pro;
    src: url(../fonts/SourceSansPro-Regular.otf);
}
/* @font-face {
    font-family: SourceSansPro-Bold;
    src: url(../fonts/SourceSansPro-Bold.otf);
    font-weight: bold;
} */

h1 {
    font-family: Oswald, Georgia, Times, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
}
h2{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: rgb(255, 255, 255, 0.7);
}
h3 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    
}
p {
    margin-bottom: 15px;
}