.hero {
    background: url(../assets/Desktop_Backgrounds_1920x1200.png);
    background-repeat: no-repeat;
    background-size:cover;
    height: 822px;
}

.hero_logo {
    padding-top: 274px;
    display: block;
    width: 63px;
    height: 63px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width:768px) {
    .hero_logo {
        padding-top: 203.99px;
        width: 63.04px;
        height: 62.54px;
    }
}

.hero_h1 {
    color: #FFFFFF;
    margin-top: 13px;
    margin-bottom: 42px;
}

.hero_h2 {
    color: #ffffff; 
    opacity: 70%;
    margin-top: 42px;
    padding-bottom: 256px;
}
@media (max-width: 768px) {
    .hero_h2 {
       padding-bottom: 246.19px;
    }
}

header {
    display: flex;
    padding-top: 45px;
}
@media (max-width: 768px) {
    header {
        display: block;
        padding-top: 0;
    }
}


.site-header {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    padding-left: 153px;
    padding-right: 165px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}
@media (max-width:768px) {
    .site-header {
        padding-left: 30px;
        padding-top: 50px;
    }
}

.nav_project_links {
    display: flex;
    width: 395px;
    justify-content: space-between;
    padding-bottom: 6px;
}
@media (max-width:768px){
    .nav_project_links{
        visibility: hidden;
    }
}


.nav_project_links li a:hover {
    color: #0088a9; 
}

li, a {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}
    
.underline {
    width: 80px;
    height: 0px;
    left: 600px;
    top: 71px;
    border: 2px solid #FFFFFF;
    margin-left: 104px;
}

lines_menu_container {
    float: right;
    padding-right: 20px;
    padding-top: 43px;
}
@media (min-width: 768px){
    lines_menu_container {
            visibility: hidden;   
    }
}

.line1, .line2, .line3 {
    width: 22px;
    height: 0px;
    border: 1.5px solid #FFFFFF;
}

.line1 {
    margin-top: 0px;
    margin-bottom: 3px;
}

.line2 {
    margin-bottom: 3px;
}